/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'vars';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $common-background;
  font-weight: 400;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

::selection {
  background-color: $highlight-bg;
  color: $highlight-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: $text-color;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  line-height: 1.75;
  margin: 0 0 1rem;
}

.text-20sb {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.text-19sb {
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.25px;
}

.text-18sb {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.215px;
}

.text-16sb {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.text-14sb {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.text-12sb {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.text-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.text-14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
